<h3>Add Customer Record</h3>

<form method="post" action = "/customer/add">
  <input type="text" name="name" placeholder="Add Name">
  <input type="text" name="email" placeholder="Add Email">
  <a href="/"><button>Cancel</button></a>
  <input type="submit" value="Submit">
</form> 