<h3>Delete Customer Record</h3>
<div><%= name %></div>
<div><%= email %></div>

<h4>Confirm: Delete this record?</h4>
<a href="/"><button>No</button></a>  <a href="/customer/delete/<%= id %>/<%= rev %>"><button>Yes</button></a>